{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script src="https://kit.fontawesome.com/21bc9e53b5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Frederico Magalhães</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

</head>
<body>
    <header id="header">
        <div class="navbar">
            <div class="nome">
                <h1>Frederico Magalhães</h1>
                <a href="">
                    <i class="fa-solid fa-gear fa-2xl" style="color: #33db96;"></i>
                </a>
            </div>
            <div class="topnav" id="myTopnav">
                <nav id="sidebar-menu">
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa-solid fa-bars fa-xl" style="color: #33db96;"></i>
                    </a>
                    <ul>
                        <li><a href="#sobre-mim">Sobre Mim</a></li>
                        <li><a href="#experiencia">Experiência</a></li>
                        <li><a href="#soft-skills">Soft Skills</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contato">Contato</a></li>
                        <li><a href="#links">Links</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="apresentacao">
            <div class="chamada">
                <div class="img-perfil">
                    <img src="{% static 'images/fotofred.jpg' %}" alt="">
                </div>
                <div class="text-apt">
                    <h4>
                        Sou Engenheiro Mecânico em busca de uma oportunidade como Desenvolvedor Python.
                    </h4>
                    <div>
                        <a href="#contato">
                            <button class="btn-sobre">Me Contrate!</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="img-apt">
                <img src="{% static 'images/apresentacao-bg.png' %}" alt="">
            </div>
        </div>
        <section id="sobre-mim">
            <div class="sobre">
                <h2>
                    Sobre Mim:
                </h2>

                <div>
                    <h4>
                        <ul>
                            <li>Estudando Python, Django e Front-End desde 2022</li>

                            <li>Cursando Análise e Desenvolvimento de Sistemas</li>

                            <li>Iniciando curso na EBAC de Full Stack Python.</li>

                            <li>Interesse em desenvolvimento Full Stack</li>

                            <li>Buscando uma oportunidade para atuar como desenvolvedor</li>
                        </ul>
                    </h4>
                </div>
                
                <div class="curriculo">
                    <a href="{% static 'files/Curriculo Atualizado Frederico Augusto Magalhaes - 2023.pdf' %}" target="_blank">
                        <button class="btn-curriculo">Download CV</button>
                    </a>
                </div>
            </div>
        </section>
        <section id="experiencia">
            <div class="timeline">
                <ul>
                    <li>
                        <div class="data">2021</div>
                        <div class="evento">Graduação Engenharia Mecânica</div>
                    </li>

                    <li>
                        <div class="data">2022</div>
                        <div class="evento">Me aprofundando na linguagem Python e conhecendo melhor sobre o Django, Front-End e Back-End.</div>
                    </li>

                    <li>
                        <div class="data">2023</div>
                        <div class="evento">Iniciando curso na EBAC de Full Stack Python, para aprimorar meus conhecimentos de programação.</div>
                    </li>

                    <li>
                        <div class="data">Até o Momento</div>
                        <div class="evento">Em busca de minha primeira vaga como desenvolvedor.</div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="soft-skills">
            <div class="habilities">
                <div>
                    <h2>
                        Soft Skills:
                    </h2>

                    <h4>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo inventore nisi assumenda blanditiis quas, eaque omnis minus, commodi consequuntur ea, cum odio! Voluptate exercitationem excepturi assumenda reprehenderit earum velit quo.
                    </h4>
                </div>
            </div>
        </section>
        <section id="portfolio">
            <div class="portfolio">
                <h2>
                    Portfolio:
                </h2>
                <div class="grid-container">
                    {% for item in portfolio_items %}
                    <div class="grid-item">
                        <div class="port-content">
                            <img src="{{ item.image.url }}" alt="{{ item.title }}">
                            <h4>{{ item.title }}</h4>
                            <p>{{ item.description }}</p>
                        </div>
                        <div class="port-techs">
                            {% for tech in item.technologies.split %}
                                <i class="fa-brands {{ tech }} fa-lg" style="color: #33db96;"></i>
                            {% endfor %}
                        </div>
                        <div class="port-btn">
                            <a href="{{ item.link }}" target="_blank">
                                <button><i class="fa-solid fa-display" style="color: #ffffff;"></i>Acessar</button>
                            </a>
                            {% if item.github_link %}
                            <a href="{{ item.github_link }}" target="_blank">
                                <button><i class="fa-brands fa-github fa-lg" style="color: #ffffff;"></i>GitHub</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </section>
        <section id="contato">
            <div class="forms">
                <h2>
                    Entre em Contato:
                </h2>
                <div class="forms-style">
                    <form method="post" action="{% url 'index' %}#contato">
                        {% csrf_token %}

                        <div class="form-group">
                            <input type="text" name="nome" class="form-control" placeholder="Nome" required autocomplete="name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="E-mail" required autocomplete="email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="empresa" class="form-control" placeholder="Empresa" required autocomplete="organization">
                        </div>
                        <div class="row">
                            <div>
                                <div class="form-group">
                                    <input type="text" name="telefone" class="form-control" placeholder="Telefone" required autocomplete="tel">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="form-group">
                                    <select name="media" class="form-control" autocomplete="off">
                                        <option>Onde me encontrou?</option>
                                        <option value="Google">Google</option>
                                        <option value="Facebook">Facebook</option>
                                        <option value="Instagram">Instagram</option>
                                        <option value="LinkedIn">LinkedIn</option>
                                        <option value="JaConhecia">Já conhecia</option>
                                        <option value="Indicacao">Indicação</option>
                                        <option value="Outros">Outros</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea name="mensagem" rows="8" class="form-control" placeholder="Mensagem" required autocomplete="off"></textarea>
                        </div>
                        <div class="form-group messages">
                            <button class="btn-enviar-contato">Enviar</button>
                            {% if messages %}
                            <ul>
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <section id="links">
            <div class="onde-encontrar">
                <h2>Onde me Encontrar:</h2>
            </div>
            <div class="redes-sociais">
                <div class="text-redes mobile">
                    <div>
                        <a href="https://www.linkedin.com/in/frederico-magalh%C3%A3es/" target="_blank">
                            <i class="fa-brands fa-linkedin fa-2xl" style="color: #33db96;"></i>
                        </a>
                        <h4>
                            LinkedIn
                        </h4>
                    </div>

                    <div>
                        <a href="https://github.com/FredMagas" target="_blank">
                            <i class="fa-brands fa-github fa-2xl" style="color: #33db96;"></i>
                        </a>
                        <h4>
                            GitHub
                        </h4>
                    </div>

                    <div>
                        <a href="mailto:fredericomaga@hotmail.com" target="_blank">
                            <i class="fa-solid fa-envelope fa-2xl" style="color: #33db96;"></i>
                        </a>
                        <h4>
                            E-mail
                        </h4>
                    </div>

                    <div>
                        <a href="https://wa.me//5535997303061?text=Olá, tudo bem? Estamos entrando em contato através do seu site de portfolio." target="_blank">
                            <i class="fa-brands fa-whatsapp fa-2xl" style="color: #33db96;"></i>
                        </a>
                        <h4>
                            Whatsapp
                        </h4>
                    </div>
                </div>
            </div>

            <div class="direitos">
                <h3>Frederico Magalhaes. Todos os direitos reservados.</h3>
            </div>
        </section>
        <div class="btn-pageup">
            <a href="#header">
                <i class="fa-solid fa-chevron-up fa-2xl"></i>
            </a>
        </div>
    </footer>

    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>