{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Frederico Magalhães</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
    <header>
        <div class="navbar">
            <div class="nome">
                <h1>Frederico Magalhães</h1>
            </div>

            <nav>
                <li><a href="">Sobre Mim</a></li>
                <li><a href="">Experiência</a></li>
                <li><a href="">Soft Skills</a></li>
                <li><a href="">Portfolio</a></li>
            </nav>
        </div>
    </header>
    <main>
        <div class="apresentacao">
            <div class="chamada">
                <div class="img-perfil">
                    <img src="{% static 'images/fotofred.jpg' %}" alt="">
                </div>
                <div class="text-apt">
                    <h4>
                        Sou Engenheiro Mecânico em busca de uma oportunidade como Desenvolvedor Python.
                    </h4>
                    <div>
                        <button class="btn-sobre">Me Contrate!</button>
                    </div>
                </div>
            </div>
            <div class="img-apt">
                <img src="{% static 'images/apresentacao-bg.png' %}" alt="">
            </div>
        </div>

        <div class="sobre">
            <div>
                <h2>
                    Sobre Mim:
                </h2>

                <h4>
                    <ul>
                        <li>Estudando Python, Django e Front-End desde 2022</li>

                        <li>Cursando Análise e Desenvolvimento de Sistemas</li>

                        <li>Interesse em desenvolvimento Full Stack</li>

                        <li>Buscando uma oportunidade para atuar como desenvolvedor</li>
                    </ul>
                </h4>
            </div>
        </div>

        <div class="timeline">
            <ul>
                <li>
                    <div class="data">2021</div>
                    <div class="evento">Graduação Engenharia Mecânica</div>
                </li>

                <li>
                    <div class="data">2022</div>
                    <div class="evento">Me aprofundando na linguagem Python e conhecendo melhor sobre o Django, Front-End e Back-End.</div>
                </li>

                <li>
                    <div class="data">2023</div>
                    <div class="evento">Iniciando curso na EBAC de Full Stack Python, para aprimorar meus conhecimentos de programação.</div>
                </li>

                <li>
                    <div class="data">Até o Momento</div>
                    <div class="evento">Em busca de minha primeira vaga como desenvolvedor.</div>
                </li>
            </ul>
        </div>

        <div class="habilities">
            <div>
                <h2>
                    Soft Skills:
                </h2>

                <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo inventore nisi assumenda blanditiis quas, eaque omnis minus, commodi consequuntur ea, cum odio! Voluptate exercitationem excepturi assumenda reprehenderit earum velit quo.
                </h4>
            </div>
        </div>

        <div class="portfolio">

        </div>

        <div class="forms">
            <h2>
                Entre em Contato:
            </h2>
            <div class="forms-style">
                <form method="post" action="">
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" name="nome" class="form-control" placeholder="Nome" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="E-mail" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="empresa" class="form-control" placeholder="Empresa" required>
                    </div>
                    <div class="row">
                        <div>
                            <div class="form-group">
                                <input type="text" name="telefone" class="form-control" placeholder="Telefone" required>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="form-group">
                                <select name="media" class="form-control">
                                    <option>Onde me encontrou?</option>
                                    <option value="Google">Google</option>
                                    <option value="Facebook">Facebook</option>
                                    <option value="Instagram">Instagram</option>
                                    <option value="LinkedIn">LinkedIn</option>
                                    <option value="JaConhecia">Já conhecia</option>
                                    <option value="Indicacao">Indicação</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea name="mensagem" rows="8" class="form-control" placeholder="Mensagem" required></textarea>
                    </div>
                    <div class="form-group messages">
                        <button class="btn-enviar-contato">Enviar</button>
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="onde-encontrar">
            <h2>Onde me Encontrar:</h2>
        </div>
        <div class="redes-sociais">
            
        </div>
    </footer>
</body>
</html>