<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Frederico Magalhães</title>
</head>
<body>
    <header>
        <nav>
            <li><a href="">Sobre Mim</a></li>
            <li><a href="">Experiência</a></li>
            <li><a href="">Soft Skills</a></li>
            <li><a href="">Portfolio</a></li>
        </nav>
    </header>
    <main>
        <div class="sobre">
            <div>
                <h2>
                    Sobre Mim:
                </h2>

                <h4>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo inventore nisi assumenda blanditiis quas, eaque omnis minus, commodi consequuntur ea, cum odio! Voluptate exercitationem excepturi assumenda reprehenderit earum velit quo.
                </h4>
            </div>
        </div>
        <div class="timeline">

        </div>
        <div class="habilities">

        </div>
        <div class="portfolio">

        </div>
    </main>

    <footer>

    </footer>
</body>
</html>